.img-all{
    position: relative;
    width: 1500px;
    height: 960px;
}
.img-all img,
.img-all video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.left,
.right{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: gray;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}
.right{
    right: 0%;
}
