input{
    margin-left: 8%;
    border: solid 1px black;
}
*{
    font-size: 1.5rem;
}
.input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
      width: 100%;
}
select{
    margin-bottom: 50px;
    border: solid 1px;
}
span{
    color: red;
}
span:nth-last-of-type(1){
    color: black;
}